
.header{
    text-decoration: none;
    color: black;
}

.sub-header{
    font-weight: bold;
}

#top-nav-bar ul{
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0px; /*something is adding 40px to this. Ask Thi */
    overflow: hidden;
    background-color: #4c4c44;
}


#top-nav-bar .nav-bar  li {
    float: left;
    border-right: 1px solid #bbb;
}
#top-nav-bar .nav-bar  .right-element {
    float: right;
    border-left: 1px solid #bbb;
    border-right: none;
}


.nav-bar li a{
    color: white;    
    text-align: center;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    
}

.nav-bar li a:hover{
    background-color: white;
    color: black
}


#content {
    margin-left: 25%;
    margin-right:25%;
}

.blog{
    background-color: white;
    border: solid 1px #e2e0d8;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;

}

.blog-title p{
    font-weight: bold;
    font-size: small;
}

.blog-body{
    padding-bottom: 5%;
}

.blog-body img{
    display: block;
    margin: 0 auto;
    max-width: 30%;
    max-height: 30%;
    min-width: 175px;
    min-height: 150px; /*odd image size will distort*/
}


/*this can be moved into main.css along with any header styling */
footer hr{
    width: 30%;
}

#footer-text{
    color: #7f8094;
    text-align: center;
}

footer img{
    min-height: 3%;
    width: 3%;

}