<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% include ./partials/header %>
    <div id="content">
        <div class="form-container">       
            <form id="link-account-form">
                <div class="form-header">
                    <h2>Link Account</h2>
                    <hr/>
                </div>

                <div class="form-body">
                    <label>Account Name
                            <input type="text" placeholder="label for the account" name="appName" required >
                    </label>

                    <label>BASIC_AUTH
                            <input type="text" placeholder="basic-auth" name="basicAuth" required>
                    </label>

                    <div class="url-selector">
                        <label>URL
                                <select name="url" form="link-account-form">
                                        <option value="api.voxolo.gy/v1">Production</option>
                                        <option value="shoutpointapi-dev.apigee.net/v1">Dev</option>
                                        <option value="api-qa.voxolo.gy/v1">QA</option>
                                    </select>                                    
                            </label>
                    </div>
                    <small style="display: none;" id="error-text">An error occured while linking</small>

                    <button class="update-button">
                        Link App
                    </button>
                </div>
            </form>
            <form id="edit-pass-form">
                <div class="form-header">
                    <h2>Change Password</h2>
                    <hr/>
                </div>
                <div class="form-body">
                    <label>New Password
                        <input type="password" name="new-pass" placeholer="" required>
                    </label>

                    <label>Confirm New Password
                        <input type="password" name="confirm-new-pass" placeholer="" required>
                    </label>
                    <button class="password-button" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
    <% include footer %>
    <link rel="stylesheet" type="text/css" media="screen" href="\stylesheets\application.css">
    <script src="/js/link-account.js"></script>
</body>
</html>