<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <footer>
            <hr/>
            <p>
                Footers are usually used for copyright stuff. Text is often lighter and center aligned. Icons for social media go here.
            </p>
            <p>
                Icon made by https://www.flaticon.com/authors/google from www.flaticon.com. Icons edited to be white.
            </p>
        </footer>
    
</body>
</html>