<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>my heade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
</head>
<body>
    <header>
        <a class="header" href="">
            <h1>
                SIMPLE WEB PAGE
            </h1>
        </a>
        <p class="sub-header">
            This website is pretty drab.
        </p>
    </header>
    <div id="top-nav-bar">
            <nav class="nav-bar">
                <ul>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Posts</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li class="right-element">
                            <a href="/admin-pannel">Admin Pannel</a>
                        </li>
                        <li class="right-element">
                            <a href="/auth">Sign Up</a>
                        </li>
                        <li class="right-element">
                                <a href="/auth/logout">logout</a>
                        </li>
                    </ul>
            </nav>
            
        </div>
</body>