#content {
    margin-left: 25%;
    margin-right:25%;
}

.form-container{
    background-color: white;
    border: solid 1px #e2e0d8;
    border-radius: 5px;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.form-body{
    margin-top: 2%;
}

form label{
    text-align: left;
    font-weight: bold;
}

#edit-user-form{
    margin-bottom: 3%;
}
#edit-pss-form{
    margin-top: 2%;
}


input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    box-sizing: border-box;
}

input:focus {
    box-shadow: 0 0 0 2px #555;
    border-radius: 2px;
    outline: none;
}

.bio-container {
    margin-top:1%;
}

.bio-ta{
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 100px;
    padding: 10px;

}

textarea {
    max-width: 97%;
    width: 97%;
    max-height: 100%;
    border-radius: 2px;
}

textarea:focus {
    box-shadow: 0 0 0 2px #555;
    border-radius: 2px;
    outline: none;
}


button{
    display: block;
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font: bold 13px helvetica, sans-serif;
    line-height: 1em;
    padding: 12px 30px;
    background-color: black;    
}
.update-button:hover{
    background-color: #25640c;
}

.password-button:hover{
    background-color: red;
}


button:focus{
    outline: none;
}
